h1,h2 {
    text-align: center;
}
h2 {
    color:
    padding: 8px;
}
body {
    background: black;
    color: #FFFDD0;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a:visited{
    color:paleturquoise
}