/*
body {
    background: black;
    color: #FFFDD0;
}
*/

body, html{
    height: 100%;
}

#nf {
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
}

/*no underline on links*/
a {
    text-decoration: none;
}

a:visited{
    color:paleturquoise
}

* {
    margin: 0;
    padding: 0;
}



/*image fills screen*/
.container {
    position: relative;
    display: grid;
    height: auto;
}
.center-fit {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.header{
    position: sticky;
    top: 0;
    /*z-index: 999;*/
}

/*responsive text for mobile and desktop*/
@media (min-width: 0px) {
    p { font-size: 1rem; }
}

@media (min-width: 400px){
    p { font-size: calc(1rem + 1vw);
    }
}

@media (min-width: 1001px){
    p { font-size: 1.75rem;}
}