body {
    background: black;
    color: #FFFDD0;
}

.navbar{
    width: 100%
    background-color: black;
    overflow: auto;
}

.navbar a{
    float: left;
    padding: 12px;
    color: palegoldenrod;
    text-decoration: none;
    font-size: 20px;
    width: 22%
  
}

a:visited{
    color:paleturquoise
}

/*responsive text for mobile and desktop*/
@media (min-width: 0px) {
    p { font-size: 1rem; }
}

@media (min-width: 400px){
    p { font-size: calc(1rem + 1vw);
    }
}

@media (min-width: 1001px){
    p { font-size: 1.75rem;}
}